:root {
  --color-style: #b59f5b;
  --color-font: #000000;
  --color-header-font: #ffffff;
}

@font-face {
  font-family: open_sans;
  src: url("/diplom/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open_sans;
  src: url("/diplom/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: open_sans, sans-serif;
}

/* --------Авто смена привьюшки, от разрешения экрана-------- */
.background_box_alfa {
  width: 1660px;
  height: 3508px;
  background-image: url("/diplom/img/NOEMI_mq_desktop.jpg");
}

@media (max-width: 768px) {
  .background_box_alfa {
    width: 768px;
    height: 5230px;
    background-image: url("/diplom/img/NOEMI_mq_tablet_my.jpg");
  }
}

@media (max-width: 360px) {
  .background_box_alfa {
    width: 360px;
    height: 7464px;
    background-image: url("/diplom/img/NOEMI_mq_mobile.jpg");
  }
}
/* --------Конец авто смены привьюшки, от разрешения экрана-------- */

/*-------------------------------Начало шапки-------------------------------*/
/* фон шапки в flexbox`e */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding-top: calc( (100vw - 640px)/(1660 - 640) * (29 - 44.6) + 44.6px);
  padding-left: calc( (100vw - 768px)/(1660 - 768) * (245 - 33) + 33px);
  padding-right: calc( (100vw - 768px)/(1660 - 768) * (245 - 33) + 33px);

  background-color: #666666;
  background-image: url("/diplom/img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* Маска для шапки в flexbox`e */
.header::after {
  content: "";

  background-color: #000000;
  opacity: 0.6;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* Flex контейнер для лого и меню */
.container_header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc( (100vw - 640px)/(1660 - 640) * (40 - 35.5) + 35.5px);
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Ширина и отступ картинки и логотипа */
.header_logo {
  height: 100%;
  margin-left: 5px;
}

/*Flex для менюхи и его позиция*/
.menu {
  display: flex;
}

.burger_menu {
  display: none;
}

/* Переделка ссылок под пункты меню */
.menu-link {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--color-header-font);

  margin-left: 35px;
}

/* Наведение на ссылку */
.menu-link:hover {
  text-decoration-line: underline;
}

/* Заголовок шапки */
.welcome_title {
  position: relative;
  width: calc( (100vw - 640px)/(1660 - 640) * (690 - 620) + 620px);
  margin-top: calc( (100vw - 640px)/(1660 - 640) * (103 - 87) + 87px);
  margin-bottom: calc( (100vw - 640px)/(1660 - 640) * (127 - 111) + 111px);
  z-index: 1;

  text-align: center;
  font-weight: 700;
  font-size: calc( (100vw - 640px)/(1660 - 640) * (45 - 39.1) + 39.1px); /*(vp - мин.размер экрана при котором получим мин размер шрифта)/(размер при котором получим макс. размер шрифта - размер при котором получим мин. размер шрифта) * (макс. размер шрифта - мин.размер шрифта) + мин. размер шрифта)*/
  line-height: calc( (100vw - 640px)/(1660 - 640) * (75 - 53) + 53px);
  text-transform: uppercase;
  color: var(--color-header-font);
}

@media (max-width: 1200px) {
  .header {
    background-image: url("/diplom/img/banner-bg-tablet.jpg");
    background-position: center;
  }

  .menu {
    display: none;
  }

  .burger_menu {
    display: flex;
    width: 24px;
  }

  .header_logo {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .header {
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (min-width: 1700px) {
  .header {
    padding-top: 29px;
  }
}

@media (max-width: 640px) {
  .header {
    padding-left: 33px;
    padding-right: 33px;
    background-image: url("/diplom/img/banner-mobile.jpg");
  }

  .container_header_menu{
  justify-content: center;
  margin-top: 176px;
  height: 61px;
  }

  .burger_menu {
    position: absolute;
    top: -194px;
    right: -16px;
    width: 23px;
  }

  .welcome_title {
    width: 100%;
    font-size: 26px;
    margin-top: 34px;
    margin-bottom: 210px;
    line-height: 36px;
  }
}

/*-------------------------------Конец шапки-------------------------------*/

/*-------------------------Начало блока "В тренде"-------------------------*/

.text_style_bold {
  font-weight: 700;
	text-transform: uppercase;
}

/* Заголовок "Сейчас в тренде" */
.main_title {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc( (100vw - 640px)/(1660 - 640) * (124 - 95) + 95px);
  padding-top: calc( (100vw - 640px)/(1660 - 640) * (57 - 41) + 41px);

  font-size: calc( (100vw - 640px)/(1660 - 640) * (20 - 18) + 18px);
  text-align: center;
}

/* Декор подчёркивание в псевдо класе */
.main_title::after {
  content: '';
  width: 66px;
  margin-top: 10px;

  border-bottom: 3px solid var(--color-style);
  opacity: 0.4;
}


.trends {
  display: flex;
  width: 100%;
  justify-content: center;
}

.trends_box {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 29.8%;
  min-height: 320px;
  padding: 16px 20px 16px 20px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.trends_box:last-child {
  margin-right: 0;
}

.trends_bg_img::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--color-font);
  opacity: 0.6;
}

.trends_img {
  object-fit: cover;
  object-position: bottom center;
  width: 100%;
  height: 100%;
  color: var(--color-header-font);
}

.trends_img_box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #666666;
}

.trends_content {
  width: 100%;
  padding: 33px 30px;

  border: 3px solid rgba(181, 159, 91, 0.6);

  z-index: 0;
}

/* Стили ссылок */
.post_tag, .trends_tag {
  margin-right: 15px;

	font-size: 14px;
	text-decoration: none;
	color: var(--color-style);
}

/* Наведение на ссылку */
.post_tag:hover, .trends_tag:hover {
  text-decoration-line: underline;
}

/* Заголовок из ссылки */
.post_heading, .trends_heading {
  display: block;

  margin-top: 5px;

  font-size: 20px;
  text-decoration: none;
  line-height: 24px;
  color: var(--color-font);
}

.trends_heading {
  color: var(--color-header-font);
}

/* Наведение на ссылку */
.post_heading:hover, .trends_heading:hover {
  color: var(--color-style);
}

@media (max-width: 1200px) {
  .trends {
    flex-wrap: wrap;
  }

  .trends_box {
    width: calc(50% - 4px);
    min-height: 247px;
  }

  .trends_box:nth-child(2n+2) {
    margin-right: 0px;
  }

  .trends_img {
  object-position: center;
  }

  .trends_heading {
    font-size: 17px;
    line-height: 21px;
  }

  .trends_content {
    padding: 10px 30px 30px 30px;
  }
}

@media (max-width: 640px) {
  .main_title {
    height: 97px;
    padding-top: 40px;
    font-size: 16px;
  }

  main + .main_title {
    padding-top: 28px;
    margin-bottom: -15px;
  }

  .trends_box {
    width: 100%;
    padding: 16px;
    min-height: 230px;
    margin-right: 0px;
  }

  .trends_content {
    padding: 20px 20px 25px 20px;
  }

  .trends_heading {
    font-size: 16px;
  }
}
/*-------------------------Конец блока "В тренде"-------------------------*/

/*-------------------------------Начало main-------------------------------*/
.main {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-left: calc( (100vw - 1200px)/(1660 - 1200) * (245 - 35) + 35px);
  padding-right: calc( (100vw - 1200px)/(1660 - 1200) * (245 - 35) + 35px);

}

/* Коробка для постов общая */
.main_posts_box {
  width: 778px;
  margin-right: calc( (100vw - 1200px)/(1660 - 1200) * (120 - 80) + 80px);
}

/*++++++++++++++++++++++++++++++Блок для левого поста++++++++++++++++++++++++++++++*/
.post {
  display: flex;
  margin-bottom: 60px;
}

.post:last-child {
  margin-bottom: 0px;
}

/* Блок картинки и её обрезка */
.post_img_box {
  flex-shrink: 0;
  height: 294px;
  width: 381px;

  clip-path: inset(0px);
  background-color: #c5c6c6;
  margin-right: 30px;
}

/* Размер картинки на всю ширину родителя*/
.post_img {
  display: block;
  text-align: center;
  line-height: 274px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* Блок ссылок для тегов */
.post_tag_box {
  margin-top: -6px;
}


/* Стиль от параграфа в котором расположен time */
.author {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-font);

  margin-top: 30px;
  margin-bottom: 45px;
}

time {
  display: block;
  font-size: 12px;
  min-width: 92px;
  font-weight: 400;
  color: #888888;
}

/* Текст поста */
.post_text, .post_text_first {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 6px;
}

@media (max-width: 1200px) {
  .main {
    display: flex;
    padding-top: 45px;
    padding-left: calc( (100vw - 640px)/(768 - 640) * (35 - 2) + 2px);
    padding-right: calc( (100vw - 640px)/(768 - 640) * (35 - 2) + 2px);
    margin-bottom: 4px;
  }

  .main_posts_box {
    width: calc( (100vw - 640px)/(768 - 640) * (390 - 340) + 340px);
    max-width: 390px;
    margin-right: calc( (100vw - 640px)/(768 - 640) * (35 - 25) + 25px);
  }

 .post {
   display: block;
   border-bottom: 3px solid #eeeeee;
   margin-bottom: 43px;
 }

 .post:last-child {
   border-bottom: none;
 }

 .post_img_box {
   width: 100%;
   margin-right: 0;
 }

 .post_tag_box {
   margin-top: 18px;
   margin-bottom: 7px;
 }

 .post_heading {
   font-size: 17px;
 }

 .author {
   margin-top: 28px;
   margin-bottom: 27px;
 }
  .post_text {
    margin-bottom: 15px;
  }

  .post_text_first {
    margin-bottom: 13px;
  }
}

@media (max-width: 640px) {
  .main {
    flex-wrap: wrap;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }

  .main_posts_box {
    width: 100%;
  }

  .post:last-child {
    margin-bottom: 43px;
  }

 .post_img_box {
   height: 250px;
 }

 .post_tag_box {
   margin-top: 9px;
   margin-bottom: 6px;
 }

 .post_heading {
   font-size: 16px;
   line-height: 20px;
 }

 .author {
   margin-top: 20px;
   margin-bottom: 12px;
 }

 .post_text, .post_text_first{
   font-size: 14px;
   line-height: 20px;
 }

 .post_text_first {
   margin-bottom: 6px;
 }
}
/*++++++++++++++++++++++++++++++Блок для левого поста конец++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++++++++Блок для правого поста++++++++++++++++++++++++++++++*/
.main_content_box {
  width: 272px;
  flex-shrink: 0;
}

/* Заголовок "Новые посты" */
.sidebar_heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 27px;
}

/* Декор подчёркивание в псевдо класе */
.sidebar_heading::after {
  content: "";
  width: 66px;
  margin-top: 10px;

  border-bottom: 3px solid var(--color-style);
  opacity: 0.4;
}

/* ********** Общий блок для постов ********** */
.sidebar_post_box {
  margin-bottom: 60px;
}

/* Блок для одного поста */
.sidebar_post {
  display: flex;
  margin-bottom: 22px;
}

/* Блок картинки в постах*/
.sidebar_post_img_box {
  height: 70px;
  max-width: 70px; /*???*/
  min-width: 70px; /*???*/

  clip-path: inset(0px);
  background-color: #c5c6c6;
}

/* Размер картинки на всю ширину родителя*/
.sidebar_post_img {
  display: block;
  font-size: 8px;
  font-weight: 700;
  text-align: center;
  line-height: 10px;
  width: 100%;
}

/* Блок для текста постов */
.sidebar_post_content {
  margin-top: -2px;
  margin-left: 20px;
}

/* Настройки заголовка постов */
.sidebar_post_heading {
  display: block;
  line-height: 18px;
  font-size: 14px;
  text-decoration: none;
  margin-top: 2px;

  color: var(--color-font);
}

/* Поджигалка ссылок */
.sidebar_post_heading:hover {
  color: var(--color-style);
}

/* ********** Форма поиска ********** */
.search_box {
  display: flex;
  margin-bottom: 62px;
}

/* Свойства label выступает вместо div со своими type настройками*/
.search-group {
  display: flex;
  width: 100%;
}

.button_search {
  border: none;

  height: 48px;
  min-width: 48px;

  cursor: pointer;

  background-color: var(--color-style);
  background-image: url("/diplom/svg/search.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Наведение на кнопку (нету по заданию, но так красивее =) ) */
.button_search:hover {
  background-color: #aa9247;
}

/* Нажатие на кнопку */
.button_search:focus {
  background-color: #323232;
}

/* Форма ввода */
.field_search {
  border: 2px solid rgba(0, 0, 0, 0);

  width: 100%;
  padding-left: 20px;

  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

/* Стиль при вводе формы */
.field_search:focus {
  border: 2px solid var(--color-style);
  outline: none;
}

/* ********** Форма подписки ********** */
.subscription_box {
  margin-top: -5px;
  margin-bottom: 60px;
}

.field_email {
  border: 2px solid rgba(0, 0, 0, 0);
  padding-left: 20px;
  font-size: 14px;
  width: 100%;
  height: 49px;
  background-color: #f4f7f6;
}

.field_email:focus {
  outline: none;
  border: 2px solid var(--color-style);
}

.button_email {
  border: none;

  width: 100%;
  height: 49px;

  font-size: 14px;
  color: #ffffff;

  cursor: pointer;
  margin-top: 17px;
  background-color: var(--color-style);
}

.button_email:hover {
  background-color: #aa9247;
}

.button_email:focus {
  background-color: #323232;
}

/* Блок ссылок для тегов */
.tags_box {
  margin-bottom: 56px;
}

.tags_href {
  display: inline-block;
  border: solid 3px #eeeeee;
  text-decoration: none;
  font-size: 12px;
  color: var(--color-font);
  padding: 2px 13px;
  margin-right: 4px;
  margin-bottom: 8px;
}

.tags_href:hover {
  border: solid 3px var(--color-style);
}

.thems_box {
  font-weight: bold;
}

.thems_href {
  display: block;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 12px;
  text-decoration: none;
  color: var(--color-font);
  font-size: 14px;
  margin-bottom: 14px;
}

.number {
  color: var(--color-style);
  font-size: 12px;
}

.thems_href:hover {
  color: var(--color-style);
}

@media (max-width: 1200px) {
  .sidebar_heading {
    margin-top: -3px;
  }

  .subscription_box {
    margin-bottom: 57px;
  }

  .tags_box {
    margin-bottom: 54px;
  }
}

@media (max-width: 640px) {
  .main_content_box {
    width: 100%;
    max-width: 390px;
  }

  .sidebar_heading {
   margin-top: 19px;
   font-size: 16px;
  }

  .search_box {
    margin-bottom: 40px;
  }

  .subscription_box {
    margin-bottom: 39px;
  }

  .tags_box {
    margin-bottom: 35px;
  }

  .tags_href {
    padding: 1px 12px;
    margin-right: 3px;
  }

}
/*++++++++++++++++++++++++++++++Блок для правого поста конец++++++++++++++++++++++++++++++*/
/*--------------------------------Конец main-------------------------------*/

/*-----------------------------Начало Магазина-----------------------------*/
.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: calc( (100vw - 1200px)/(1660 - 1200) * (245 - 35) + 35px);
  padding-right: calc( (100vw - 1200px)/(1660 - 1200) * (245 - 35) + 35px);
}

.shop_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29.7%;
  margin-bottom: 30px;
}

.shop_box:nth-child(3n+2) {
  margin-right: auto;
  margin-left: auto;
}

.shop_box:nth-last-child(2) {
  margin-left: auto;
}

.shop_box_img {
  width: calc(100% - 40px);
  margin-bottom: -42px;
  background-color: #c5c6c6;
}

.shop_img_desk {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.shop_img_tablet {
  display: none;
}

.shop_img_mobile {
  display: none;
}

.shop_content_box {
  display: flex;
  flex-direction: column;
  padding: 49px 19px 19px 19px;
  min-height: 268px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.shop_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.shop_text {
  font-size: 15px;
  line-height: 22px;
}

.shop_text_href{
  color: var(--color-style);
  text-decoration: none;
}

.shop_text_href:hover{
  text-decoration: underline;
}

.shop_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.shop_price_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop_price {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: line-through;
  margin-top: 4px;
  margin-bottom: -5px;
}

.shop_discount {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.shop_btn {
  border: none;
  width: 140px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 2px;
  color: var(--color-header-font);
  background-color: var(--color-style);
}

.shop_btn:hover {
  background-color: #323232;
}

@media (max-width: 1200px) {
  .shop {
    padding-left: calc( (100vw - 640px)/(768 - 640) * (35 - 2) + 2px);
    padding-right: calc( (100vw - 640px)/(768 - 640) * (35 - 2) + 2px);
  }

  .shop_box {
    margin-top: 10px;
    margin-bottom: 16px;
    width: 48%;
    max-width: 380px;
    margin-right: auto;
  }

  .shop_box:nth-child(2n+2) {
    margin-right: 0px;
  }

  .shop_box:last-child {
    margin-left: 0px;
  }

  .shop_img_desk {
    display: none;
  }

  .shop_img_tablet {
    display: inline;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .shop_img_mobile {
    display: none;
  }

  .shop_content_box {
    padding: 49px 19px 19px 19px;
    min-height: 264px;
  }

  .shop_title {
    font-size: 17px;
    margin-bottom: 3px;
  }
}

@media (max-width: 640px) {
  .shop {
    justify-content: center;
    padding-left: calc( (100vw - 360px)/(768 - 360) * (35 - 15) + 15px);
    padding-right: calc( (100vw - 360px)/(768 - 360) * (35 - 15) + 15px);
  }

  .shop_box {
    margin-top: 10px;
    margin-bottom: 16px;
    width: 100%;
  }

  .shop_box:nth-child(n+1) {
    margin-right: 0px;
    margin-left: 0px;
  }

  /* .shop_box_img {
    margin-bottom: -42px;
  } */

  .shop_img_desk {
    display: none;
  }

  .shop_img_tablet {
    display: none;
  }

  .shop_img_mobile {
    display: inline;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .shop_content_box {
    padding: 47px 17px 17px 17px;
    min-height: 220px;
  }

  .shop_title {
    font-size: 17px;
    margin-bottom: 3px;
  }
}
/*-----------------------------Конец Магазина------------------------------*/

/*-----------------------------footer начало------------------------------*/
/* Основной блок */
.footer {
  height: 210px;
  margin-top: 30px;
  padding-left: calc( (100vw - 1200px)/(1660 - 1200) * (245 - 35) + 35px);
  padding-right: calc( (100vw - 1200px)/(1660 - 1200) * (245 - 35) + 35px);
}

/* Блок иконок соц сетей */
.social_box {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 83px;

  background-color: #f4f7f6;
  margin-bottom: 73px;
}

/* Ссылка с картинкой и описание*/
.social_link {
  position: relative;
  height: 25px;

  margin-left: 20px;
}

/* Картинка на всю ширину блока social_link */
.social_img {
  height: 100%;
}

/* Скрываем описание */
.social_text {
  content: "";

  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;
}

/* Блок копирайта */
.copyrights_box {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #999999;
}

@media (max-width: 1200px) {
  .footer  {
    padding-left: calc( (100vw - 640px)/(768 - 640) * (35 - 2) + 2px);
    padding-right: calc( (100vw - 640px)/(768 - 640) * (35 - 2) + 2px);
  }
}

@media (max-width: 640px) {
  .footer {
    justify-content: center;
    padding-left: calc( (100vw - 360px)/(768 - 360) * (35 - 15) + 15px);
    padding-right: calc( (100vw - 360px)/(768 - 360) * (35 - 15) + 15px);
  }

  .social_box {
    margin-bottom: 55px;
  }
}
/*-----------------------------footer конец------------------------------*/

._hidden {
  display: none;
}
.feedback-title {
  text-align: center;
  margin-bottom: 0px;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
}
.feedback-title::after {
  content: "";
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 167px;
  margin: 0 auto;
  border: none;
  background-color: #f4f7f6;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 11px;
  background-image: url(/diplom/svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
}
.select:focus {
  border: 1px solid #b59f5b;
}
.select-group {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 33px;
  display: block;
}
.radio-text {
  margin-right: 28px;
}

.form-radio {
  margin-right: 28px;
}
.check {
  display: flex;
}
.radio-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-check + label {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}
.radio-check + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #ffffff;

  background-image: url(/diplom/svg/form-empty-circle.svg);
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.radio-check:checked + label::before {
  background-color: #fff;
  background-image: url(/diplom/svg/form-circle.svg);
}

.form__hint {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
  color: #000000;
}
.feedback {
  width: 85%;
  margin: 54px auto;
}
.form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 33px;
}
.form__row:last-child {
  margin-top: 19px;
}
.form-group {
  display: block;
  margin-left: 0;
}

.field {
  border: none;
  box-sizing: border-box;
  padding-top: 22px;
  padding-left: 22px;
  resize: none;
  width: 100%;
  min-height: 133px;

  font-family: inherit;
  font-size: 100%;
  background-color: #f4f7f6;
  border-radius: 0;
  appearance: none;
}
.field:focus {
  border: 1px solid #b59f5b;
}
.popup_button {
  box-sizing: border-box;
  background-color: #b59f5b;
  border: none;
  padding: 19px 0;
  font-size: open-sans, sans-serif;
  width: 100%;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
}
.popup_button:hover {
  background-color: #323232;
  cursor: pointer;
}
.sent {
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
}
.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
.popup__container {
  max-width: 393px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
}
.popup__close {
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.popup__close:before,
.popup__close:after {
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close {
  width: 27px;
  height: 4px;

  position: absolute;
  top: -30px;
  right: 0;
}

.popup__close:before,
.popup__close:after {
  width: 27px;
  height: 4px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .feedback-title {
    font-size: 18px;
    line-height: 29px;
  }

  .popup__close {
    width: 38px;
    height: 5px;

    position: absolute;
    top: -30px;
    right: 0;
  }

  .popup__close:before,
  .popup__close:after {
    width: 38px;
    height: 5px;
  }
}

@media (max-width: 640px) {
  .feedback {
    width: 85%;
    margin: 30px auto;
  }
  .feedback-title {
    font-size: 16px;
    line-height: 29px;
  }
  .popup__close {
    width: 38px;
    height: 5px;

    position: absolute;
    top: -30px;
    right: 0;
  }

  .popup__close:before,
  .popup__close:after {
    width: 38px;
    height: 5px;
  }
}
